<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Persona</h3>
        </div>
        <div class="card-body">

                <div class="form-group">
                    <label for="">Cedula</label>
                    <input [(ngModel)]="Persona.Cedula" name="name" type="text" class="form-control">
                    </div>

               <div class="form-group">
                   <label for="">Nombre</label>
                   <input [(ngModel)]="Persona.Nombre" name="name" type="text" class="form-control">
               </div>

               <div class="form-group">
                    <label for="">Apellido</label>
                    <input [(ngModel)]="Persona.Apellido" name="name" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Telefono</label>
                    <input [(ngModel)]="Persona.Telefono" name="name" type="text" class="form-control">
                 </div>

                <div class="form-group">
                    <label for="">Celular</label>
                    <input [(ngModel)]="Persona.Celular" name="name" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Correo</label>
                    <input [(ngModel)]="Persona.Correo" name="name" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="">Direccion</label>
                    <input [(ngModel)]="Persona.Direccion" name="name" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Salario</label>
                    <input [(ngModel)]="Persona.Salario" name="name" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="">Etnia</label>
                    <input [(ngModel)]="Persona.Etnia" name="name" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Nacionalidad</label>
                    <input [(ngModel)]="Persona.Nacionalidad" name="name" type="text" class="form-control">
                </div>

                <button (click)="Guardar()" class="btn btn-danger"></button>
           </form>
        </div>
    </div>
</div>
